* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
}

/**Escritorio**/
@media (min-width: 1000px){
    .CEL{
        display: none;
    }
    body::before {
        background-image: url(https://scontent.feoh2-1.fna.fbcdn.net/v/t39.30808-6/439520799_1025392578997642_3630784650657201862_n.jpg?stp=cp6_dst-jpg&_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_ohc=jcku9ks04YAQ7kNvgG8dQYQ&_nc_ht=scontent.feoh2-1.fna&oh=00_AYDMR1xx82lfVegLodVTRgkB83a2G_fvuNDhg7WHPffBXA&oe=664DAB77);
        filter: blur(2px);
        content: "";
        position: absolute;
        height: 30%;
        width: 20%;
        background-size: cover;
        z-index: -1;
        transform: scale(6);
        transform-origin: top left;
    }
    
    .header {
        background-color: #1b5533;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 130px;
        padding: 5px 10%;
        border-color: #090d0f;
        border: solid;
    }
    
    .header .logo {
        cursor: pointer;
    }
    
    .header .logo img {
        height: 115px;
        width: auto;
        transition: all 0.3s;
    }
    
    .header .logo img:hover {
        transform: scale(1.1);
    }
    
    .header .nombre_iti h3{
        color: #00ff0d;
        font-size: 30px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #000000;
    }

    .header .nombre_iti h2{
        color: #ca790e;
        text-align: center;
        font-size: 25px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #000000;
    }

    .header .btnLOgin{
        font-weight: 700;
        color: #1b3039;
        padding: 9px 25px;
        background: #eceff1;
        border: inset;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
    /*

    .header .btn button {
        font-weight: 700;
        color: #1b3039;
        padding: 9px 25px;
        background: #eceff1;
        border: inset;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }*/
    
    .header .btn button:hover {
        background-color: #e2f1f8;
        color: #f5bf36;
        transform: scale(1.1);
    }
    
    .box-titulo {
        border: solid;
        border-color: #090d0f;
        border-radius: 10px;
        text-align: center;
        width: 1000px;
        margin: auto;
        margin-top: 20px;
        height: 70px;
        padding: 1%;
        background-color: #578a5d;
        color: #f8e9c3;
        overflow: hidden;
    }
    
    .box-central {
        background-color: #ffffff;
        width: 1100px;  /*ancho del box*/
        margin: 10%;       /*margen de todos los bordes de la pantalla al box*/
        margin-top: 20px;   /*margen entre div*/
        display: flex;      
        flex-direction: column;
        flex-wrap: wrap;  
        /*flex-flow: column wrap; se pueden combinar flex-direction y flex wrap*/
        justify-content: space-around; /*coloca los items en una posición concreta a lo largo del eje principal*/
        align-content: space-around;  /*alinea los items*/
        border: solid;
        border-color: #090d0f;
        border-radius: 50px;
        overflow: hidden;  /*oculta el contenido que se sale de la caja, es decir, mostrará sólo el contenido que cabe dentro del contenedor*/
        height: 850px;
        padding: 5px 20px;
    }

    .nom-tec{
        background-color: #00ff0d;
        border-radius: 20px;
        border-color: #000000;
        border-style: solid;
    }
    .nom-tec h1{
        text-align: center;
        color: #15a134;
        font-size: 35px;
    }
    
    .box-tec {
        border-radius: 100px;
        margin-top: 30px;
        height: 350px;
        width: 300px;
        transition: all 0.3s;
        padding: 4px 5px;
    }

    .img-tec{
        margin-top: 15px;
    }
    .img-tec img{
        height: 280px;
        width: 284px;
    }
    
    .box-tec:hover {
        transform: scale(1.1);
    }
}
/**Celular**/
@media (max-width: 767px){
    .PC{
        display: none;
    }

    body::before {
        background-image: url(https://scontent.feoh2-1.fna.fbcdn.net/v/t39.30808-6/439520799_1025392578997642_3630784650657201862_n.jpg?stp=cp6_dst-jpg&_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_ohc=jcku9ks04YAQ7kNvgG8dQYQ&_nc_ht=scontent.feoh2-1.fna&oh=00_AYDMR1xx82lfVegLodVTRgkB83a2G_fvuNDhg7WHPffBXA&oe=664DAB77);
        filter: blur(2px);
        content: "";
        position: absolute;
        height: 20%;
        width: 20%;
        background-size: cover;
        z-index: -1;
        transform: scale(6);
        transform-origin: top left;
    }
    
    .header {
        background-color: #1b5533;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 130px;
        padding: 5px 5%;
        border-color: #090d0f;
        border: solid;
    }
    
    .header .logo {
        cursor: pointer;
    }
    
    .header .logo img {
        height: 115px;
        width: auto;
        transition: all 0.3s;
    }
    
    .header .logo img:hover {
        transform: scale(1.1);
    }
    
    .header .nombre_iti h3{
        color: #00ff0d;
        font-size: 30px;
        text-align: center
    }

    .header .nombre_iti h2{
        color: #ca790e;
        text-align: center;
        font-size: 25px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #000000;
    }

    .header .btn button {
        font-weight: 700;
        color: #1b3039;
        padding: 9px 25px;
        background: #eceff1;
        border: inset;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
    
    .header .btn button:hover {
        background-color: #47b3e5;
        color: #f5bf36;
        transform: scale(1.1);
    }
    
    .box-titulo {
        border: solid;
        border-color: #090d0f;
        border-radius: 5px;
        text-align: center;
        width: 460px;
        margin: auto;
        margin-top: 20px;
        height: 70px;
        padding: 1%;
        background-color: #578a5d;
        color: #f8e9c3;
        overflow: hidden;
    }
    
    .box-central {
        margin: 5%;  
        background-color: #ffffff;
        margin-top: 20px;  
        display: flex;      
        flex-direction: column;
        flex-wrap: wrap;    
        justify-content: space-around; 
        align-content: space-around;  
        border: solid;
        border-color: #090d0f;
        border-radius: 50px;
        overflow: hidden;
        height: 800px;
        padding: 5px 20px;
    }
    
    .nom-tec {
        text-align: center;
        color:red;   /*#ffbc0e*/
        font-size: 30px;
    }
    
    .box-tec {
        background-color: #ffffff;
        border-radius: 20px;
        margin-top: 20px;
        height: 230px;
        width: 180px;
        transition: all 0.3s;
        padding: 4px 5px;
        border: black 5px solid;
    }

    .img-tec{
        margin-top: 10px;
        width: auto;
        height: auto;
    }

  
    .box-tec:hover {
        transform: scale(1.1);
    }
    
}